# Bases de datos PostgreSQL
AUTH_DB_PASSWORD=changeme_in_production
PROFILE_DB_PASSWORD=changeme_in_production
GAME_DB_PASSWORD=changeme_in_production

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin_secret

# Grafana
GRAFANA_PASSWORD=grafana_admin
